.TokenEditor {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: calc(100vh - 41px);
    z-index: 1000;
}

.TokenEditor-Header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;

    color: rgba(0, 0, 0, 0.8);
}

.TokenEditor .TokenEditor-CloseIcon {
    cursor: pointer;
}

.TokenEditor .TokenEditor-Description {
    padding: 8px;
}

.TokenEditor .TokenEditor-Description :first-child {
    margin-bottom: 8px;
}

/* Обводка вокруг input теряется */
.TokenEditor .TokenEditor-Description input {
    border: 1px solid var(--black1);
}

.TokenEditor .TokenEditor-Controls {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.TokenEditor .TokenEditor-Switch {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: normal;
}

.TokenEditor .TokenEditor-Switch .switch {
    padding: 0;
    padding-left: 42px;
}

.TokenEditor .TokenEditor-Switch > span:first-of-type {
    margin-right: 4px;
}

.TokenEditor .TokenEditor-Switch > span:last-of-type {
    padding-top: 4px;
}

.TokenEditor .TokenEditor-Controls .TokenEditor-Input {
    flex: 1 1 auto;
}

.TokenEditor .TokenEditor-Actions {
    display: flex;
    justify-content: flex-end;
    padding: 17px;
}

.TokenEditor
    .TokenEditor-Input.TokenEditor-Input_type__color
    .TokenEditor-InputContent {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

.TokenEditor
    .TokenEditor-Input.TokenEditor-Input_type__color.TokenEditor-Input_inherit
    .TokenEditor-InputContent {
    padding: 0 16px;
}

.TokenEditor
    .TokenEditor-Input.TokenEditor-Input_type__color.TokenEditor-Input_inherit
    .input {
    flex-basis: 80%;
}

.TokenEditor .Textinput.Textinput_type_color {
    width: 140px;
}

.TokenEditor .TokenEditor-InputPrevious {
    font-family: Inter;
    font-style: normal;
    font-size: 11px;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0.005em;
    color: rgba(0, 0, 0, 0.301961);
    padding: 8px 0 0 16px;
}

.TokenEditor .TokenEditor-InputPrevious .Title {
    font-weight: 500;
}

.TokenEditor .TokenEditor-InputPrevious .Content {
    padding-left: 22px;
}

.TokenEditor .TokenEditor-InputPrevious:hover {
    color: black;
}
